#featured_page {
    background-color: var(--black);
    padding: 20px 0;
}

.page_section_name {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.page_section_name span {
    font-size: 15px;
}

.featured_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(28, 394px);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
}

