#featured_page {
    background-color: var(--black);
    padding: 20px 0;
}

.page_section_name {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.page_section_name span {
    font-size: 15px;
}

.featured_group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(28, 394px);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
}

.no_products img{
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.no_products p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: var(--white);
}