@media (max-width: 1300px) {


    /* Navbar */
    .navbar nav:last-child .right {
        gap: 16px;
    }

    /* Header */
    .header-content .right .privileges_group,
    .header-content .news_slider {
        max-width: 600px;
    }

    /* Services */
    .categories-group {
        grid-column-gap: 12px;
    }

    /* Categories page */
    .all_categories .categories_group {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Product Detail page */
    .product-detail .characteristics {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-detail .characteristics .characteristics_item:nth-child(4n+1),
    .product-detail .characteristics .characteristics_item:nth-child(4n+2) {
        background: var(--dark_grey);
    }

    .product-detail .characteristics .characteristics_item:nth-child(4n+3),
    .product-detail .characteristics .characteristics_item:nth-child(4n+4) {
        background: transparent;
    }
}

@media (max-width: 1028px) {

    /* Navbar */
    .navbar nav:last-child .right a span {
        display: none;
    }

    .navbar nav:last-child .right a:first-child {
        display: block;
    }

    .navbar nav:last-child .middle .search_bar form {
        width: 360px;
    }

    .static_categories {
        display: none;
    }

    /* Header */
    .header-content {
        flex-direction: column;
        gap: 20px;
    }

    .header-content .info h1 {
        max-width: 100%;
        font-size: 60px;
    }

    .header-content .right .privileges_group,
    .header-content .news_slider {
        max-width: 100%;
    }

    .header-content .right {
        position: relative;
        width: 100%;
    }

    /* Services */
    .categories-group {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Product detail page */
    .product-detail .top {
        flex-direction: column;
    }

    .product-detail .top .main_info h3,
    .product-detail .top .main_info p,
    .product-detail .top .main_info .hr_line {
        max-width: 100%;
    }

    .product-detail .top .product_gallery .main_img {
        width: 540px;
    }

    /* Cart Page */
    .cart_page_content {
        flex-direction: column;
    }

    .cart_page_content .total_check {
        max-width: 694px;
    }
}

@media (max-width: 768px) {

    /* Navbar */
    .language_menu span,
    .phone_items span {
        display: none;
    }

    .navbar nav:first-child .left ul, .navbar nav:first-child .right ul {
        gap: 10px;
    }

    .navbar nav:first-child .right ul li button, .navbar nav:first-child .right ul li:last-child {
        gap: 6px;
    }

    .navbar nav:last-child .middle .catalog,
    .navbar nav:first-child .left {
        display: none;
    }

    /* Header */
    .news_slider_items img {
        height: 100%;
    }

    /* Categories page */
    .all_categories .categories_group {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Product detail page */
    .product-detail .top .product_gallery {
        flex-direction: column;
        width: 100%;
    }

    .product-detail .top .product_gallery .main_img {
        order: 1;
        width: 100%;
    }

    .product-detail .top .product_gallery .imgs {
        flex-direction: row;
    }

    .product-detail .top .product_gallery .imgs {
        width: 100%;
    }

    .product-detail .characteristics {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-detail .characteristics .characteristics_item:nth-child(2n+1) {
        background: var(--dark_grey);
    }

    .product-detail .characteristics .characteristics_item:nth-child(2n+2) {
        background: transparent;
    }

    .product-detail .characteristics .characteristics_item {
        padding: 10px 8px;
    }

    .product-detail .characteristics .characteristics_item span,
    .product-detail .characteristics .characteristics_item p {
        font-size: 11px;
        white-space: pre-wrap;
    }
}

@media (max-width: 640px) {

    /* Header */
    .header-content .info h1 {
        font-size: 30px;
    }

    .header-content .info p {
        font-size: 16px;
    }

    .header-content .info .links {
        flex-direction: column;
        gap: 6px;
    }

    .header-content .info .links a {
        width: 100%;
        justify-content: center;
    }

    .header-content .right .privileges_group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .header-content .right .privilege .info span {
        font-size: 16px;
    }

    .header-content .news_slider {
        height: 260px;
    }

    /* Services */
    .categories-group {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Categories page */
    .all_categories .categories_group {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    .all_categories .categories_group .categories_item {
        height: 170px;
    }

    .all_categories .categories_group .categories_item a {
        padding: 12px;
    }

    .all_categories .categories_group .categories_item a h3 {
        font-size: 14px;
    }

    .all_categories .categories_group .categories_item a img {
        width: 66%;
    }

    /* Product detal page */
    .product-detail .top .main_info {
        width: 100%;
    }

    .product-detail .top .product_gallery .imgs {
        gap: 4px;
    }

    .product-detail .top .product_gallery .imgs button {
        border: 0px;
        height: 50px;
    }

    .product-detail .top .product_gallery .main_img {
        height: 240px;
    }

    .product-detail .top .product_gallery {
        gap: 8px;
    }

    .product-detail .top .main_info p {
        font-size: 12px;
    }

    .product-detail .top .main_info h3 {
        font-size: 20px;
    }

    .product-detail .top .main_info span {
        font-size: 13px;
    }

    /* Footer */
    .footer,
    .footer_item {
        flex-direction: column;
        gap: 40px;
    }

    /* Cart page */
    .cart-products-group .cart_item .top,
    .cart-products-group .cart_item .top .left {
        flex-direction: column;
    }

    .cart-products-group .cart_item .top {
        padding: 24px 20px 30px;
        gap: 8px;
    }

    .cart-products-group .cart_item .top .left .img {
        width: 100%;
        height: 180px;
    }

    .cart-products-group .cart_item .top .left .info a {
        font-size: 18px;
    }

    .cart-products-group .cart_item .bottom span:last-child {
        margin-left: 8px;
    }

    .cart-products-group .cart_item .bottom {
        height: 44px;
    }
}